@import '~@/scss/GlobalVariables';


.mewconnect {
  background-color: $light-green-6;
  border-radius: 5px;
  position: relative;
  font-size: 30px;
}

.background-image {
  width: 100%;
}

.text-block{
  font-size: 1.4vw;
  @media all and (max-width: $mobile-width) {
    font-size: 5vw;
  }
  @media all and (min-width: calc(#{$mobile-width} + 1px)) and (max-width: $tablet-width) {
    font-size: 5vw;
  }

  .text {
    position: absolute;
    padding: 1.1em;
    top: 0;
    left: 0;
    font-size: inherit;

    .title {
      color: $dark-grey-12;
      font-size: 1em;
      font-weight: 700;
    }
    .subtitle {
      margin-top: 0.5em;
      font-size: inherit;
      p {
        font-size: 0.7em;
        line-height: 1.3em;
      }
    }
  }
}