@import '~@/scss/GlobalVariables';

.wrap {
  background-color: $background-color-1;
  padding: 0;
}

.content-block {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 15px;

  @media all and (max-width: 850px) {
    grid-template-columns: 1fr;
  }
}

.title-bar {
  border-radius: 5px 5px 0 0;
  background-color: $dark-blue-5;
  display: flex;
  align-content: center;
  padding: 15px 20px;

  p {
    color: $white;
  }

  .left {
    font-size: 20px;
    font-weight: 600;
  }

  .right {
    margin-left: auto;
    text-align: right;
  }
}

.contents {
  background-color: $white;
  border-radius: 0 0 5px 5px;
  padding: 15px 20px;
}

.balance-block {
  padding: 15px 20px;
  background-color: $light-grey-1;
  border-radius: 4px;
  display: flex;
  align-items: center;

  @media all and (max-width: 500px) {
    display: block;
  }

  h4 {
    font-weight: 600;
    span {
      font-weight: 400;
    }
  }

  .value {
    margin-left: auto;
    display: flex;
    align-items: center;
    img {
      margin-left: 5px;
      cursor: pointer;
    }
    @media all and (max-width: 500px) {
      h4 {
        font-size: 13px;
        span {
          font-size: inherit;
        }
      }
    }
  }
}

.blockie-container {
  margin: 40px 0 20px 0;
  text-align: center;
  .blockie {
    display: flex;
    justify-content: center;
  }

  p {
    margin-top: 10px;
    font-weight: 600;
    font-size: 16px;
  }
}

.address-value {
  background-color: $light-grey-1;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 4px;
  align-items: center;
  padding: 20px 20px;
  display: grid;
  grid-template-columns: 1fr 50px 30px;


  .value {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
  }

  img {
    height: 30px;
    cursor: pointer;
  }
}

.buttons {
  max-width: 370px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  @media all and (max-width: 500px) {
    grid-gap: 40px 10px;
  }

  button {
    text-align: left;
    border: 0;
    background-color: $white;
    display: flex;
    align-items: center;
    img {
      height: 30px;
      margin-right: 10px;
    }

    @media all and (max-width: 500px) {
      display: block;
      text-align: center;
      img {
        margin-right: 0px;
      }
    }
  
  }
}

.promo-button {
  margin-top: 15px;
}