@import '~@/scss/GlobalVariables';
@media all and (min-width: calc(#{$tablet-width} + 1px)) {
  $collapse-button-color: $dark-blue-12;
  .modal-content-container {
    padding: 40px;
  }

  .network-content {
    p {
      //background-color: $light-grey-1;
      cursor: pointer;
      border-radius: 5px;
      padding: 2px 7px;
      user-select: none;
    }

    .current-network {
      background-color: $dark-blue-2;
      color: $white;
    }
  }

  .collapse-container {
    margin-bottom: 10px;
    &:last-child {
      margin: 0;
    }

    ul.networks {
      max-height: 300px;
      overflow-y: auto;
      li {
        padding: 10px 5px;
        border-bottom: 1px solid #ececec;
        &:last-child {
          border: 0;
        }

        .network-content {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 0;
        }

        .network-title {
          display: flex;
          align-items: center;
          margin-bottom: 5px;

          .network-icon-container {
            width: 35px;
            height: 35px;
            text-align: center;
            background-color: $light-grey-12;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            overflow: hidden;
            img {
              height: 60%;
              margin: 0;
            }

            .no-icon {
              text-align: center;

              p {
                font-weight: 700;
                font-size: 10px;
                line-height: 10px;
              }
            }
          }

          p {
            font-size: 18px;
            font-weight: 500;
          }
        } // .network-title
      } // li
    } // ul

    .collapse-content {
      padding: 10px;
    }

    .collapse-open-button {
      width: 100%;
      background-color: $collapse-button-color !important;
      border-color: $collapse-button-color !important;
      display: flex;
      align-items: center;

      .network {
        display: flex;
        align-items: center;
      }

      p {
        text-align: left;
        font-weight: 600;
        color: white;
      }
      .network-name {
        font-weight: 400;
        font-size: 12px;
        margin-left: 5px;
      }

      div {
        p {
          line-height: 16px;
        }
      }

      .right-button {
        margin-left: auto;
      }

      .button-number {
        $number-size: 20px;

        border: 1px solid white;
        border-radius: 100%;
        margin-right: 10px;
        width: $number-size;
        height: $number-size;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .modal-hardware {
    .button-options {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 1fr;
      margin-bottom: 40px;

      &.hardware-button-options {
        margin-bottom: 30px;
      }

      li {
        border: 1px solid $light-grey-3;
        border-radius: 5px;
        align-items: center;
        color: $dark-grey-11;
        cursor: pointer;
        display: flex;
        padding: 15px;
        text-align: left;
        user-select: none;

        * {
          pointer-events: none;
        }

        span {
          line-height: 16px;
        }

        div {
          flex: 1;
        }

        &.active {
          border: 1px solid $mew-green;
          color: $text-black;
          font-weight: 500;

          .icon {
            display: none;
          }

          .icon-hover {
            display: inline-block;
          }
        }

        &:hover {
          border: 1px solid $mew-green;
          color: $text-black;
          font-weight: 500;

          .icon {
            display: none;
          }

          .icon-hover {
            display: inline-block;
          }
        }

        .icon,
        .icon-hover {
          margin-right: 8px;
          width: 50px;
        }

        .icon-hover {
          display: none;
        }
      }
    }
  }
} // @media all and (min-width: calc(#{$tablet-width} + 1px))
