@import '../../ManageENS';

.create-commitment-container {
  @extend %template-container;

  .create-commitment-content {
    //min-height: 400px;
  }
}

.available-message {
  p {
    font-size: 25px;
    font-weight: 500;
    line-height: 35px;
    color: $light-blue-1;
    span {
      font-size: inherit;
      line-height: inherit;
      font-weight: 600;
    }
  }
}

.year-selector {
  margin: 30px 0 40px 0;
}

.buttons {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  > * {
    width: 100%;
    &:first-child {
      margin-right: 10px;
    }
  }
}
