@import '~@/scss/GlobalVariables';
@media all and (min-width: calc(#{$tablet-width} + 1px)) {
  // aaa
}

.wrap {
  background-color: $background-color-1;
  padding: 80px 0;
}

.page-title {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 50px;
  h2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 42px;
    margin-bottom: 15px;
  }
}

.buttons {
  ul {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: relative;

    li {
      cursor: pointer;
      text-align: center;

      .button-inner-block {
        border-radius: 5px;
        padding: 30px 20px;
        height: 100%;
        background-color: $white;
        transition: all 0.3s ease;
        &:hover {
          margin-top: -10px;
          background-color: $mew-green;
          * {
            color: $white;
          }
        }
      }
    }
  }
}

.button-icon {
  margin-bottom: 10px;
}

.button-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

.button-desc {
  color: $dark-blue-1;
}


