@import '~@/scss/GlobalVariables';

.timer-content {
  padding: 50px 0;
}

.content {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  text-align: center;
}

.time-left {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 600;

  &.times-up {
    color: $mew-green;
  }
}

.user-message {
  margin-top: 20px;
  p {
    font-weight: 600;
  }

  .domain {
    color: $light-blue-1;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
