@import '~@/scss/GlobalVariables';

.timer-content {
  padding: 30px;
}

.content {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  text-align: center;
}

.time-left {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 600;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

